<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'home.jpg' %>)">
  <h1>Save any kind of movies</h1>
</div>

<div class="container">

  <div class="row mb-4 mt-4">
    <div class="col-md-10">
      <h2>My Lists</h2>
    </div>
    <div class="col-md-2">
      <%= link_to 'New List', new_list_path, class: "btn btn-primary" %>
    </div>
  </div>

<div class="cards">
    <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url('<%= list.photo.present? ? cl_image_path(list.photo.key, width: 100, height: 150, crop: "fill") : asset_path("list_2.jpg") %>')">
            <%= link_to list.name, list_path(list), class: "link-light" %>
        </div>
    <% end %>
</div>

</div>

<!-- <%= cl_image_tag("list_1_tdbogs", :width=>100, :height=>150, :crop=>"fill")  %> -->
