<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
   url(<%= @list.photo.present? ? asset_path("list_#{@list.id}.jpg") : asset_path("default_image.jpg") %>)">
   <h1><%= @list.name %></h1>
</div>

<div class="container">
  <div class="row mb-8 mt-4">
    <div class="col-md-8"></div>
    <div class="col-md-4 btn-group" role="group">
      <%= link_to 'Add Bookmark', new_list_bookmark_path(@list, @bookmark),  class: "btn btn-primary" %>
      <%= link_to 'Back to Lists', lists_path, class: "btn btn-secondary" %>
  </div>

  <div class="row mb-8 mt-4">
    <div class="cards">

      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-trip">
          <img src="<%= bookmark.movie.poster_url %>" />
          <div class="card-trip-infos">
            <div>
              <h2><%= bookmark.movie.title %> - <%= bookmark.movie.rating %></h2>
              <p><%= bookmark.movie.overview %></p>
              <p><strong><%= bookmark.comment %></strong><p>
            </div>
            <h2 class="card-trip-pricing"></h2>
            <%= link_to 'Delete', bookmark_path(bookmark), data: {turbo_method: :delete, confirm: "Are you sure?"}, class: "link-warning" %>
          </div>
        </div>
      <% end %>

    </div>
</div>
